<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Bookstore</title>
    <link href="../libraries/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">

    <script type="text/javascript" src="../libraries/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="../libraries/underscore-min.js"></script>
    <script type="text/javascript" src="../libraries/backbone-min.js"></script>
    <script type="text/javascript" src="../libraries/backbone.marionette.min.js"></script>
    <script type="text/javascript" src="../libraries/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="./js/example_1_item_view.js"></script>

    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>

    <script id="books-template" type="text/html">
      <ul>
        <% _.each(items, function(item){ %>
          <li><a href="book/<%= item.id %>"><%= item.name %></a></li>
        <% }); %>
      </ul>
    </script>
  </head>

  <body>
    <div id="main" class="container-fluid">
      <div id="application">
      </div> 
    </div>

    <footer>
      <hr>  
    </footer>
  </body>
</html>
